body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("7901109.jpg");
     margin: 48px;
    padding: 36px;
}

.meníčko {
    width: 500px;
    background: burlywood;
    margin: 40px auto;
    padding: 30px;
    border-radius: 4px;
    
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}


p {text-align: center;
    text-align: center;
}
hr {
    height: 2px;
 background: brown;
  border: none; 
} 

h2 {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 6px 0;
}

.cena {
   
    font-weight: bold;
     font-size: 18px;
}

.icon {
    text-align: center;
    margin: 10px 0;
}

.icon img {
    width: 60px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.adresa {
    text-align: center;
    font-size: 14px;
}
.stránky {text-decoration:underline}